.about-container h3 {
    color: var(--text-highlight-color);
    letter-spacing: 3px;
    text-align: center;
}
.about-container h3 {
    margin-top: 4em;
}

.about-info-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.about-picture {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 0;
}
.about-picture img {
    align-self: center;
    border-radius: 50%;
    width: 50%;
}

.about-info {
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-info b {
    color: var(--text-highlight-color);
}
.about-info p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 8px 0;
    padding: 0 0.5em;
}
.about-info div {
    text-align: center;
}
.about-info div img {
    height: 75%;
}

.about-curriculum {
    background-color: var(--secondary-highlight-color);
    opacity: 0.8;
    border-radius: 0.5em;
    font-size: 12px;
    font-weight: 600;
    height: 2.6rem;
    margin-top: 10px;
    place-self: center;
    width: 200px;
}
.about-curriculum:hover {
    background-color: var(--secondary-highlight-color);
    opacity: 1;
}
.about-curriculum svg {
    height: 30px;
}
.about-curriculum a {
    display: inline-flex;
    align-items: center;
    color: var(--secondary-text-color);
    height: inherit;
    justify-content: center;
    text-decoration: none;
    width: inherit;
}
.about-curriculum span {
    height: 30px;
}
.about-curriculum-text {
    margin-top: 10px;
    padding: 0 12px;
}

.about-info-skills {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-gap: 1em;
    justify-items: center;
}
.about-info-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--secondary-highlight-color) solid 3px;
    border-radius: 0.9em;
    gap: 0.1em;
    padding: 1em 0 0.5em 0;
    width: 100px;
}
.about-info-skill:hover {
    background-color: var(--secondary-highlight-color);
    color: var(--secondary-text-color);
    opacity: 0.8;
    transition-duration: var(--all-transitions);
}
.about-info-skill-img {
    height: 55px;
}
.about-info-skill img {
    max-height: 48px;
    min-width: 45px;
}
.about-info-skill p {
    font-size: 0.8em;
    margin: 0.5em;
}

@media (min-width: 46em) {
    .about-picture {
        min-width: 350px;
    }
    .about-picture img {
        width: 80%;
    }

    .about-info-container {
        flex-direction: row;
    }

    .about-info {
        gap: 16px;
        text-align: start;
    }
    .about-info p {
        font-size: 14px;
        margin: 12px 0;
        padding: 0;
    }

    .about-curriculum {
        font-size: 15px;
        height: 3rem;
        margin-top: 20px;
        width: 250px;
    }
    .about-curriculum a:hover {
        font-size: 16px;
        transition-duration: 200ms;
    }
    .about-curriculum-text {
        margin-top: 8px;
    }

    .about-info-skills {
        grid-template-columns: repeat(5,minmax(0,1fr));
        grid-gap: 2em 1em;
    }
    .about-info-skill {
        gap: 0.2em;
    }
    .about-info-skill img {
        max-height: 54px;
    }
}

@media (min-width: 60em) {
    .about-picture {
        min-width: 425px;
    }

    .about-info {
        gap: 20px;
    }
    .about-info p {
        font-size: 16px;
    }

    .about-info-skills {
        grid-template-columns: repeat(6,minmax(0,1fr));
    }
}

@media (min-width: 80em) {
    .about-info-skills {
        grid-template-columns: repeat(7,minmax(0,1fr));
    }
}

@media (min-width: 85.1em) {
    .about-info-skills {
        grid-template-columns: repeat(8,minmax(0,1fr));
    }
}

@media (min-width: 90em) {
    .about-info-skills {
        grid-template-columns: repeat(9,minmax(0,1fr));
    }
}
