.contacts {
    background-color: var(--header-background-color);
    position: fixed;
    bottom: 1rem;
    left: calc(50% - 128px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    gap: 2rem;
    padding: 1rem 2rem;
    z-index: 10;
}
.contacts a {
    height: 24px;
    width: 24px;
}
.contacts a svg {
    color: var(--text-color);
}
.contacts a svg:hover {
    color: var(--primary-highlight-color);
    transform: scale(1.3, 1.3);
}

@media (min-width: 46em) {
    .contacts {
        bottom: 1.5rem;
        left: calc(50% - 160px);
        padding: 1rem 3rem;
    }

    .contacts a {        
        height: 32px;
        width: 32px;
    }
}
