.experience-timeline {
    position: relative;
    box-sizing: border-box;
}
.experience-timeline-line {
    position: absolute;
    background-color: var(--primary-highlight-color);
    height: 100%;
    width: 4px;
    left: 33px;
    top: 15px;
    transform: translateX(-50%);
}

.experience-card {
    display: flex;
    margin: 30px 0 3px 60px;
}
.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}

.experience-card-content {
    position: relative;
    background-color: var(--primary-highlight-color);
    border-radius: 10px;
    padding: 20px 12px;
    width: 100%;
}
.experience-card-content::before {
    content: '';
    position: absolute;
    background-color: var(--primary-highlight-color);
    height: 15px;
    width: 15px;
    top: 21px;
    transform: rotate(45deg);
    z-index: 1;
}
.left .experience-card-content::before {
    left: -7px;
    right: -7px;
}
.right .experience-card-content::before {
    left: -7px;
}

.experience-card-content-step,
.experience-timeline-line-end {
    position: absolute;
    background-color: var(--primary-highlight-color);
    border: 4px solid var(--secondary-highlight-color);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}
.experience-timeline-line-end {
    bottom: 0;
    color: var(--text-color);
    left: 50%;
    transform: translateX(-50%);
}
.experience-timeline-line-end svg:hover {
    transform: scale(1.2, 1.2);
}
.experience-card-content-step svg {
    height: 60%;
    padding: 4px 0;
    width: 60%;
}

.left .experience-card-content-step {
    top: 15px;
    left: -55px;
    right: -55px;
}
.right .experience-card-content-step {
    top: 15px;
    left: -55px;
}

.experience-card-content-header {
    display: flex;
    flex-direction: column;
    gap: 0.7em
}
.experience-card-content-header::after {
    content: '';
    background-color: var(--text-color);
    height: 2px;
    width: 100%;
}

.experience-card-content-company {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.experience-card-content-company-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.8px;
}
.experience-card-content-company-name svg {
    color: var(--text-color);
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.experience-card-content-company-period {
    display: flex;
    align-items: center;
    font-size: 10px;
}
.experience-card-content-company-period svg {
    color: var(--text-color);
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.experience-card-content p {
    font-size: 12px;
    padding: 0.4em;
}

@media (min-width: 46em) {
    .experience-timeline-line {
        left: 50%;
    }

    .experience-card {
        margin: 0 0 30px 0;
    }

    .experience-card-content {
        width: calc(50% - 60px);
    }
    .experience-card-content::before {
        top: 27px;
    }
    .experience-card-content-step,
    .experience-timeline-line-end {
        height: 30px;
        width: 30px;
    }
    .left .experience-card-content::before {
        left: unset;
    }
    .left .experience-card-content-step {
        left: unset;
    }
    .experience-card-content-step svg {
        padding: 6px 0;
    }

    .experience-card-content-company-name {
        font-size: 16px;
    }
    .experience-card-content-company-name svg {
        height: 25px;
        width: 25px;
    }
}

@media (min-width: 60em) {
    .experience-card-content-company-name {
        font-size: 18px;
    }
    .experience-card-content-company-period {
        font-size: 12px;
    }
    .experience-card-content p {
        font-size: 14px;
    }
}
