.header {
    background-color: var(--header-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: var(--header-text-font-family);
    transition: var(--all-transitions);
}

.header-nav {
    padding: 0;
    transition: var(--all-transitions);
}

.header-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-logo-dark {
    background-image: url("../images/logo-dark.png");
}
.header-nav-logo-light {
    background-image: url("../images/logo-light.png");
}
.header-nav-logo-dark,
.header-nav-logo-light {
    background-size: contain;
    display: flex;
    height: 5rem;
    overflow: hidden;
    padding: 0;
    transition: var(--all-transitions);
    width: 133px;
    z-index: 100;
}
.header-nav-logo-dark:hover,
.header-nav-logo-light:hover {
    opacity: 0.6;
}

.header-nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-toggle {
    display: flex;
    flex-direction: column;
    width: 32px;
    gap: 0.45rem;
    margin-right: 0.7em;
    z-index: 100;
}
.header-nav-toggle > span {
    background-color: var(--secondary-highlight-color);
    border-radius: 10px;
    height: 4px;
    width: 100%;
    transition: var(--all-transitions);
    transform-origin: left;
}
.header-nav-toggle-open > span:first-child {
    transform: rotate(45deg);
}
.header-nav-toggle-open > span:nth-child(2) {
    opacity: 0;
}
.header-nav-toggle-open > span:last-child {
    transform: rotate(-45deg);
}

.header-nav-menu-container {
    align-items: center;
    display: none;
    gap: 1rem;
    letter-spacing: 1px;
    opacity: 0;
    transition: var(--all-transitions);
}
.header-nav-menu-container-open {
    display: flex;
    opacity: 1;
    transition: var(--all-transitions);
}
.header-nav-menu-container-open ul {
    background: var(--header-background-color);
    z-index: 99;
}

.header-nav-theme-container {
    display: flex;
    position: relative;
    background-color: var(--secondary-highlight-color);
    align-items: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 10px;
    padding: 0.5rem;
    transition: var(--all-transitions);
}
.header-nav-theme-container::before {
    content: '';
}
.header-nav-theme-icon svg {
    color: var(--secondary-text-color);
}
.header-nav-theme-icon.active {
    transform-style: flat;
    transform-origin: 1px;
}
.header-nav-theme-icon.active svg {
    height: 1.4rem;
    width: 1.4rem;    
    vertical-align: middle;
}
.header-nav-theme-icon.active svg:hover {
    transform: scale(1.2, 1.2);
}

.header-nav-menu-link-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: var(--all-transitions);
}
.header-nav-menu-link-list li {
    display: flex;
}
.header-nav-menu-link-list li a {
    position: relative;
    color: var(--text-color);
    font-size: 16pt;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.header-nav-menu-link-list li a.active,
.header-nav-menu-link-list li a:focus,
.header-nav-menu-link-list li a:hover {
    color: var(--text-highlight-color);
}
.header-nav-menu-link-list li a::after {
    background-color: var(--secondary-highlight-color);
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    width: 0;
    height: 0.0625rem;
    transition: var(--all-transitions);
}
.header-nav-menu-link-list li a.active::after,
.header-nav-menu-link-list li a:hover::after {
    width: 100%;
}

@media (min-width: 46em) {
    .header-nav {
        display: flex;
        justify-content: center;
    }

    .header-nav-container {
        width: 70%;
        max-width: 1200px;
    }

    .header-nav-toggle {
        display: none;
    }

    .header-nav-menu {
        flex-direction: row-reverse;
    }

    .header-nav-menu-container {
        display: flex;
        justify-content: space-between;
        opacity: 1;
    }

    .header-nav-menu-link-list {
        position: static;
        flex-direction: row;
        gap: 1rem;
        padding-right: 1rem;
        width: auto;
    }
    .header-nav-menu-link-list li a {
        font-size: 16px;
    }
}