.home {
    flex-direction: row;
    align-items: center;
    gap: 0;
    min-height: 100vh;
    padding: 0!important;
    position: relative;
    overflow: hidden;
}

.home-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0;
    text-align: center;
}

.home-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-info h1 {
    color: var(--text-highlight-color);
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.home-info h2 {
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}

.home-info h3 {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

.home-info p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 8px 0;
    padding: 0 0.5em;
}

.home-picture {
    display: flex;
    justify-content: center;
    margin: 0;
}

.home-picture-img {
    border-radius: 50%;
    width: 70%;
}

@media (min-width: 46em) {
    .home-container {
        display: grid;
        grid-template-columns: 2fr 18em;
    }

    .home-info {
        gap: 30px;
        text-align: start;
    }

    .home-info h1 {
        font-size: 3.3rem;
    }

    .home-info h2 {
        font-size: 1.5rem;
    }
    .home-info h3 {
        font-size: 1.2em;
    }
    .home-info p {
        font-size: 16px;
        margin: 12px 0;
        padding: 0;
    }

    .home-picture-img {
        width: 100%;
    }
}

@media (min-width: 64em) {
    .home-container {
        grid-template-columns: 2fr 20em;
    }
}

@media (min-width: 77em) {
    .home-container {
        grid-template-columns: 2fr 22em;
    }

    .home-info h1 {
        font-size: 3.4rem;
    }
}

@media (min-width: 82em) {
    .home-container {
        grid-template-columns: 2fr 25em;
    }

    .home-info h1 {
        font-size: 3.5rem;
    }
}
