.home {
    flex-direction: row;
    align-items: center;
    gap: 0;
    min-height: 100vh;
    padding: 0!important;
    position: relative;
    overflow: hidden;
}

.home-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 0;
    text-align: center;
}

.home-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-info h1 {
    color: var(--text-highlight-color);
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 0;
}

.home-info h2 {
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}

.home-info h3 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

.home-info p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 8px 0;
    padding: 0 0.5em;
}

@media (min-width: 46em) {
    .home-info {
        gap: 30px;
    }

    .home-info h1 {
        font-size: 4rem;
        letter-spacing: .3rem;
    }

    .home-info h2 {
        font-size: 1.5rem;
    }
    .home-info h3 {
        font-size: 1.7em;
    }
    .home-info p {
        font-size: 16px;
        margin: 12px 0;
        padding: 0;
    }
}
